<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Veda Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <!-- Dashboard -->
    <div class="dashboard">
    <h1>Veda Dashboard</h1>
    <button onclick="triggerAll()">Test All Notifications</button>
</div>

<!-- Notification Container -->
<div id="notification-container"></div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <!-- <script src="script.js"></script> -->
</body>
</html>